<header class="page__header">
  <div class="header__search">
    <form method="GET" action="" class="search" autocomplete="off"></form>
     <input
        class="js-search__form uppercase search__form"
        type="text"
        id="userForm"
        name="userSearch"
        placeholder="Mad men"
      />
      <button class="js-search__button button button--search" type="submit">
        <i class="icon icon--search fas fa-search"></i>
      </button>
    </form>
  </div>
<div class="header__user">
  <i class="icon icon--user far fa-user"></i>
</div>
</header>
