<main class="page__main">
  <section class="results-list__container">
    <h2 class="results-list__title hidden">Resultados</h2>
    <ul class="results-list js-results-list"></ul>
    <button class="js-search-button">Buscar</button>
  </section>

  <section class="favs-list__container">
    <h2 class="favs-list__title hidden">Favoritas</h2>
    <ul class="favs-list js-favs-list js-favourites-list"></ul>
    <button class="favs-list__delete-button js-favs-list__delete-button hidden">
      <i class="fa fa-trash"></i>
      <span class="js-reset-button">Borrar todo</span>
    </button>
  </section>
</main>
