* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background-color: #adefd1ff;
}
ul {
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 35px;
  color: white;
}
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 250px;
  background-color: white;
  border-radius: 2px;
  border: none;
  text-align: center;
  padding: 10px 5px;
  color: #00203fff;
}
.search-button {
  width: 100px;
  background-color: violet;
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  color: rgb(1, 19, 37);
}
::placeholder {
  color: black;
  opacity: 0.5;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
}
.favourites-list-container {
  display: flex;
  flex-direction: column;
}
.favourite-list-title {
  font-size: 25px;
  color: rgb(61, 7, 82);
}
.favourite-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
li {
  margin: 15px;
  font-size: 15px;
  list-style-type: none;
}
.favourites-list-container,
.results-list-container {
  display: flex;
  flex-direction: column;
}
.results-list-title {
  font-size: 25px;
  color: #00203fff;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0px;
}
li {
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}
.js-showItem {
  /* h2 { */
  color: white;
}

.favBackground {
  background-color: violet;
}
.hidden {
  opacity: 0;
}
