* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.img {
  width: 80px;
  height: 100px;
  padding: 5px;
}

:root {
  /*COLOURS*/
  --color-primary: #ff6f69;
  --color-secondary: #ffcc5c;
  --color-tertiary: #88d8b0;
  --color-tertiary-light: #96ceb4;
  --color-light: #ffeead;
  /*FONTS*/
  --primary-font: 'Roboto', sans-serif;
}
